<mat-dialog-content>
<a (click)="deleteMovie()"><mat-icon>delete_forever</mat-icon></a>
  <a (click)="showEdit()"><mat-icon>edit</mat-icon></a>
  <input type="file" (change)="setPoster($event)" >
  <div>
    <table style="width:100%">
      <td>
        <img src="https://localhost:5001/movies/{{data.id}}/poster" />
      </td>
      <div class="Right" [hidden]="isEditable" >
        <td>
          <ngb-rating [max]="5" [(rate)]="data.rating" [readonly]="true"></ngb-rating>
          <h1> {{data.name}} ({{data.year}})</h1>
          <p>{{data.time}} Minutes</p>

          <p>{{data.description}}</p>
        </td>
      </div>

      <div class="Right" [hidden]="!isEditable" >
        <a>
          <ngb-rating [max]="5" [(rate)]="data.rating" [readonly]="false"></ngb-rating>
        </a>
         <p>
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input matInput placeholder="" [(ngModel)]="data.name">
          <mat-icon matSuffix>movie</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="data.description"></textarea>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Year</mat-label>
          <input matInput placeholder="" [(ngModel)]="data.year">
          <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Time</mat-label>
          <input matInput placeholder="(Minutes)" [(ngModel)]="data.time">
          <mat-icon matSuffix>av_timer</mat-icon>
        </mat-form-field>
      </p>

  <mat-dialog-actions>
    <button mat-button (click)="saveEditMovie()"> Save</button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
      </div>

    </table>
  </div>

</mat-dialog-content>
